body {
  background-color: #cfd8dc;
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
  width: 100%;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
}

/* PROJECTS */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  max-width: 1200px;
}

.project-container {
  position: relative;
  max-width: 360px;
  min-height: 380px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.project-container:hover {
  box-shadow: 12px 12px 16px #616161;
}

.button {
  display: inline-block;
  background-color: teal;
  text-decoration: none;
  border-radius: 30px;
  border-bottom: solid 4px #cfd8dc;
  color: white;
  font-size: 1em;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
}

/* PROJECT PAGE */
.content-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.content-title {
  margin-top: 25px;
  margin-bottom: 5px;
}

.main-content {
  margin-top: 50px;
  margin-bottom: 75px;
}

.main-content p {
  width: 700px;
  margin-bottom: 20px;
}

.gif {
  width: 900px;
}

/* MEDIA QUERY */
@media (max-width: 480px) {
  .wrapper {
    margin: auto;
    max-width: 350px;
  }

  .content-container {
    display: block;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-container {
    display: block;
  }
  .project-container {
    max-width: 360px;
    margin-bottom: 50px;
  }
}

/* @media (max-width: 800px) {
  .content-container {
    display: flex;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .content-container article {
    width: 61%;
    order: 2;
    margin-left: 50px;
  }
} */
