body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

img {
  width: 100%;
}

.bg {
  width: 100%;
}

.wrapper {
  margin: auto;
  margin-top: 75px;
  max-width: 1000px;
}

.nav-bar {
  overflow: hidden;
  position: fixed;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0 30px;
  width: 100%;
  background-color: #333;
  z-index: 999;
}

.nav-bar li {
  float: left;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover {
  background-color: #111;
}

/* PROJECTS */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "first first first first"
    "second second third third";
  grid-gap: 15px;
  max-width: 1000px;
}

.first {
  grid-area: first;
}
.second {
  grid-area: second;
}
.third {
  grid-area: third;
}

.category-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.category-name {
  color: blue;
  text-decoration: underline;
}

.project-container {
  position: relative;
}

.project-container > a img {
  height: 300px;
  object-fit: cover;
}

.design-category {
  color: gray;
}

.project-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.project-container:hover .project-desc {
  opacity: 1;
}

.project-container:hover img {
  filter: blur(1px) brightness(30%);
}

/* PROJECT PAGE */
.content-container {
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
}

.content-title {
  margin-top: 25px;
  margin-bottom: 5px;
}

.main-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-content p {
  width: 700px;
  margin-bottom: 20px;
}

.gif {
  width: 900px;
}

/* MEDIA QUERY */
@media (max-width: 480px) {
  .wrapper {
    margin: auto;
    max-width: 350px;
  }

  .content-container {
    display: block;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .grid-container {
    display: block;
  }
  .project-container {
    max-width: 360px;
    margin-bottom: 50px;
  }
}

/* @media (max-width: 800px) {
  .content-container {
    display: flex;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .content-container article {
    width: 61%;
    order: 2;
    margin-left: 50px;
  }
} */
